/Aula1/nbproject/private/
/Aula2/nbproject/private/
/Aula2/build/
/Aula3/nbproject/private/
/Aula3/build/
/Testting_stuff/nbproject/private/
/Testting_stuff/build/
/Aula4/nbproject/private/
/Aula4/build/
/Guiao4/nbproject/private/
/Guiao4/build/
/Server/nbproject/private/
/Server/build/
/Guiao5/nbproject/private/
/Guiao5/build/
/trabalho/WareHouse_server/nbproject/private/
/trabalho/Guiao6/nbproject/private/
/trabalho/Guiao6/build/
/trabalho/Guiao6V2/nbproject/private/
/trabalho/Guiao6V2/build/
/trabalho/Guiao6V2/dist/